extend layout
block paintings
  p
    |Extra Curricular
  ul
    img(src='./images/painting1.jpg', width='200', height='150')
    br
    br
    img(src='./images/painting2.jpg', width='200', height='150')
block content
  p
    | Welcome to my first website ever! 
    |I have experimented with a few tools here.
    | I hope you like it.
  p
    |I have developed this page using some basic CSS commands. 
    |I have referred to numerous sites to 
    learn the concepts of node.js and express.js. 
    |My main focus was on learning the architecture of node.js and how express.js uses it. 
    |Please have a loot at my other projects on github
    |Please feel free to send any comments about the website. 

block sidebar
  .widget
    h2 Skills
    ul
      li Back-end 
      li Data Science
      li Hadoop
  .links
    h2 Links
    p
      a(href='https://github.com/Aditibanarse') Github
      br
      a(href='https://prezi.com/t6mlxdmjuw32/stock-prediction-using-back-propagation/') Presentation
      br






