doctype html
html
  head
    title #title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 About Me
    .container
      .picture-content
        block paintings
      .main-content
        block content
      .sidebar
        block sidebar
        block topbar
    footer
      p Running on Node with Express
      
     